.font-size{
    
    font-size: 80px;
    font-family: Impact;
}
p{
    font-size: 35px;
    font-family: Impact;
}
.btn{
    width: 250px;
    height: 80px;
}
body{
background-color: black;

}
.font-size2{
    
    font-size: 60px;
    font-family: Impact;
}
.btnfont{
font-size: 25px;
font-family: Impact;
}